.home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.home .container {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
}
.home .container .sidebar {
  flex-grow: 0.7;
  background-color: #5c5c5c;
  padding: 15px 10px;
}
.home .container .sidebar .search .searchForm {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}
.home .container .sidebar .search .searchForm .icon {
  padding: 5px;
}
.home .container .sidebar .search .searchForm input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  color: white;
}
.home .container .sidebar .search .userChat {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.home .container .sidebar .search .userChat img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
}
.home .container .sidebar .search .userChat .userChatInfo .name {
  color: white;
}
.home .container .sidebar .search .userChat:hover {
  background-color: #333;
}
.home .container .sidebar .navbar .toggle-switch {
  display: flex;
  background-color: #333;
  /* Dark background */
  border-radius: 5px;
  overflow: hidden;
}
.home .container .sidebar .navbar .toggle-switch .toggle-btn {
  flex: 1;
  border: none;
  color: white;
  background-color: transparent;
  padding: 7px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.home .container .sidebar .navbar .toggle-switch .toggle-btn.active {
  background-color: #1d56a0;
}
.home .container .sidebar .chatList {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
}
.home .container .sidebar .chatList .userChat {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.home .container .sidebar .chatList .userChat img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
  margin-right: 10px;
}
.home .container .sidebar .chatList .userChat .userChatInfo {
  display: flex;
  flex-direction: column;
}
.home .container .sidebar .chatList .userChat .userChatInfo .name {
  color: white;
  font: 1rem sans-serif;
}
.home .container .sidebar .chatList .userChat .userChatInfo .lastMessage {
  color: gray;
  font: 0.9rem sans-serif;
}
.home .container .chat {
  height: 100%;
  flex-grow: 2;
  background-color: #333;
}
.home .container .chat .chatHeader {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
}
.home .container .chat .chatHeader .chatHeaderLeft .chatHeaderInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  padding: 0 10px;
  margin: 0 10px;
}
.home .container .chat .chatHeader .chatHeaderLeft .chatHeaderInfo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
  cursor: pointer;
}
.home .container .chat .chatHeader .chatHeaderLeft .chatHeaderInfo h4 {
  font: 1.2rem sans-serif;
  cursor: pointer;
}
.home .container .chat .chatHeader .chatHeaderLeft .chatHeaderInfo p {
  font: 0.9rem sans-serif;
  color: gray;
}
.home .container .chat .chatHeader .chatHeaderRight {
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  padding: 0 10px;
  margin: 0 10px;
}
.home .container .chat .chatHeader .chatHeaderRight button {
  cursor: pointer;
  background-color: #2258c5;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 8px 8px 5px 8px;
  text-align: center;
}
.home .container .chat .chatBody {
  height: 70%;
  overflow-y: auto;
}
.home .container .chat .chatBody .messages {
  margin: 15px 0;
}
.home .container .chat .chatBody .messages .message {
  display: flex;
}
.home .container .chat .chatBody .messages .message .messageInfo {
  display: flex;
  flex-direction: column;
}
.home .container .chat .chatBody .messages .message .messageInfo img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
}
.home .container .chat .chatBody .messages .message .messageInfo .messageTime {
  color: gray;
  font: 0.8rem sans-serif;
}
.home .container .chat .chatBody .messages .message .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
.home .container .chat .chatBody .messages .message .messageContent p {
  margin: 0 !important;
  background-color: white;
  border-radius: 0 10px 10px 10px;
  padding: 10px 20px;
}
.home .container .chat .chatBody .messages .message.owner {
  flex-direction: row-reverse;
}
.home .container .chat .chatBody .messages .message.owner .messageInfo img {
  margin-left: 13px;
}
.home .container .chat .chatBody .messages .message.owner .messageContent {
  align-items: flex-end;
}
.home .container .chat .chatBody .messages .message.owner .messageContent p {
  background-color: #dcf8c6;
  border-radius: 10px 0 10px 10px;
  max-width: max-content;
}
.home .container .chat .chatBody::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
}
.home .container .chat .chatBody::-webkit-scrollbar-thumb {
  background: #888;
  /* Thumb color */
}
.home .container .chat .chatBody::-webkit-scrollbar {
  width: 4px;
}
.home .container .chat .chatFooter {
  height: 15%;
}
.home .container .chat .chatFooter .input {
  height: 100%;
  border-top: 1px solid gray;
}
.home .container .chat .chatFooter .input form {
  display: flex;
  align-items: center;
}
.home .container .chat .chatFooter .input form input {
  color: white;
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  height: 30px;
  font: 1em sans-serif;
}
.home .container .chat .chatFooter .input form .sendMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2258c5;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10%;
  gap: 5px;
}
.home .container .chat .chatFooter .input .inputIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .container .chat .chatFooter .input .inputIcons .more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .container .chat .chatFooter .input .inputIcons .more button {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
